@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Times New Roman', serif;
    font-size: 1.1rem;
    line-height: 1.5em;
}

main {
    max-width: 750px;
    padding: 7vw 4vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #0a0aff;
}
